body {

}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px;
	background-color: lightgray;
	color: white;
	text-align: center;
	border-top-color: #4aaaa5;
	border-top-style: solid;
	border-top-width: 5px;
}

textarea[name=message]{
	height: 300px;
	width: 100%;
	line-height: 1.25;
	margin: 8px 0;
	padding: 20px, 30px;
	font-size: 14px;
	color: lightgray;
}

a {
	margin: 8px;
}

a:link {
	color: lightgray;
}

a:visited {
	color: #777;
}

a:hover {
	color: dimgray;
}

.navbarstyle {
	border-bottom-style: solid;
	border-bottom-color: #4aaaa5;
	border-bottom-width: 5px;
}

.container {
	padding-top: 20px;
	margin: 0 auto;
}

.social{
	width: 40px;
	height: 40px;
	padding: 10px;
}

.sidebar-title {
	font-size: 22px;
	color: $4aaaa5;
}

.panel-row-inputs {
	margin: 10px;
}

.contact-inputs {
	width: 100%;
}

.name-style {
	height: 100%;
	color: white;
	background-color: #4aaaa5;
}

#pagelinks {
	float: right;
	color: lightgray;
}

#about {
	color: #4aaaa5;
}

#profilepic {
	margin: 20px;
	float: left;
}

#smallp {
	margin: 10px;
}
