body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	background-color: #fff;
	color: #777;
	border-color: #ddd;
	background-repeat: repeat;
	background-image: url("../images/topography.png");

}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 20px;
	background-color: darkgray;
	color: white;
	text-align: center;
	border-top-color: #4aaaa5;
	border-top-style: solid;
	border-top-width: 5px;
}

textarea[name=message]{
	height: 300px;
	width: 100%;
	line-height: 1.25;
	margin: 8px 0;
	padding: 20px, 30px;
	font-size: 14px;
	color: lightgray;
}

a {
	margin: 8px;
}

a:link {
	color: lightgray;
}

a:visited {
	color: #777;
}

a:hover {
	color: dimgray;
}

.navbarstyle {
	border-bottom-style: solid;
	border-bottom-color: #4aaaa5;
	border-bottom-width: 5px;
	background-color: white;
}

.container {
	padding-top: 20px;
	margin: 0 auto;
}

.imageblock {
	background: white;
}

.social{
	width: 60px;
	height: 60px;
	margin: 10px;
}

.sidebar-title {
	font-size: 22px;
	color: $4aaaa5;
}

.panel-row-inputs {
	margin: 10px;
}

.contact-inputs {
	width: 100%;
}

.navbar-left.name-style {
	margin: -20px;
	padding: 10px;
	height: 50px;
	color: white;
	background-color: #4aaaa5;
}

.submit-button {
	background-color: #4aaaa5;
	color: white;
	padding: 10px;
}

.thumbnail {
	position: relative;
}

.desc {
	background-color: #4aaaa5;
	color: white;
	position: absolute;
	top: 75%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

.gallery-image {
	height: 100%;
	width: 100%
}

.typl8-drop-cap:first-letter {
  float: left;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

#pagelinks {
	float: right;
	color: lightgray;
}

#about {
	color: #4aaaa5;
}

#profilepic {
	margin: 20px;
	float: left;
}

#smallp {
	margin: 10px;
}

#paneltop,
#gallery,
#about-me {
	color: #4aaaa5;
	font-weight: bold;
	background-color: white;
	font-size: 24px;
}
